.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота 100% от высоты окна просмотра */
}

.headerr {
    /* Profile preview */
    margin-top: 5%;
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    gap: 18px;

    width: 90%;
    height: 149px;

    /* White */
    background: #FFFFFF;
    /* stroke */
    border: 1px solid #EDEDED;
    border-radius: 20px;

    /* Inside auto layout */
}

.tasks h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    margin-bottom: 5%;
}

.tasks p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.tasks {
 /* Frame 33281 */
    box-sizing: border-box;
    margin-top: 5%;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    padding: 20px;

    width: 90%;
    

    /* White */
    background: #FFFFFF;
    /* stroke */
    border: 1px solid #EDEDED;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: center;
    flex-grow: 0;

}

.frenhead p {
    /* 5 friends */

margin: 0 auto;
width: 54px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Black */
color: #1B191B;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.nameava {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    height: 40px;
    align-items: center;
}


.imgheader {
    display: flex;
    margin-left: -10%;
    gap: 10px;
    width: 50%;
    align-items: center;
}

.nameava img {
    width: 40px;
    height: 40px;
}

.headbtns {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust this value as needed for the desired spacing */
}

.headbtns div {
    /* Frame 33262 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 21px;

    width: 50%;
    height: 51px;
    text-transform: none;

    /* Blue */
    border: 1px solid #3481DC;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}
.nae {
    width: 100%;
}

.headbtns div p {
    /* 1 000 000 */

    height: 27px;

    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Blue */
    color: #3481DC;
}

.headbtns button {
    /* Frame 33261 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 21px;

    border: none;

    width: 50%;
    height: 51px;

    /* Blue */
    background: #3481DC;
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.headbtns button > p {
    /* Connect wallet */

    margin: 0 auto;
    width: 106px;
    height: 18px;

    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    /* identical to box height, or 18px */

    /* White */
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
