.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000; /* Ensure the modal is on top of everything */
  }
  
  .modal {
/* Frame 33331 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 24px;

width: 90%;
height: 268px;
left: 20px;
bottom: 408px;

/* bg */
background: #F5F5F5;
/* stroke */
border: 1px solid #EDEDED;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 40px;

  }
  
  .modal h2 {
    margin: 0 0 10px;
  }
  
  .modal p {
    margin: 0 0 20px;
  }
  
  .modal button {
/* Primary Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 90%;
height: 48px;

/* Blue */
background: #3481DC;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: center;
flex-grow: 0;
border: none;
/* Share */


font-family: 'Inter Tight';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

  }
  
  .modal button:hover {
    background: #0056b3;
  }
  